body{
    background-color: grey;
    margin: 0%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
}
header{
    height: 20vh;
    width: 100vw;
    border: 3px solid red;
    background-color: red;

}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 3px solid red;
    flex-grow: 3;
    background-color: green;
}
article{
    border: 3px solid red;
    flex-grow: 1;
    margin: 3rem;
    flex-basis: 400px;
    min-height: 30vh;
    background-color: yellow;


}
footer{
    width: 100vw;
    border: 3px solid red;
    background-color: yellow;

    align-self: flex-end;
    height: 20vh;
}